.nav ul {
    list-style-type: none;
}

.nav ul li{
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    background-color: beige;
    padding: 2px;
}

.nav ul li a:hover{
    background-color: brown;
}